<div class="row container">
    <div class="btn-group m-2">
        <button class="btn btn-outline-primary" (click)="getPosts()">Get Posts</button>
        <button class="btn btn-outline-primary" (click)="getPostsError()">Get Error</button>
        <button class="btn btn-outline-primary" (click)="getPostByIdParam(1)">Get Post 1</button>
        <button class="btn btn-outline-primary" (click)="getPostByIdPathVariable(1)">Get Post 1 By Paht-Variable</button>
        <button class="btn btn-outline-primary" (click)="getPostByMultipleParam()">Get Post By Mulitple
            Parameters</button>
        <button class="btn btn-outline-primary" (click)="getFullResponse()">Get Full Response</button>
    </div>
    <div class="btn-group m-2">
        <button class="btn btn-outline-warning" (click)="updatePost()">Update Post</button>
    </div>
    <div class="btn-group m-2">
        <button class="btn btn-outline-info" (click)="createNewPost()">Create New Post</button>
    </div>
    <div class="btn-group m-2">
        <button class="btn btn-outline-danger" (click)="deletePost()">Delete Post</button>
    </div>
    <div class="btn-group m-2">
        <button class="btn btn-outline-success" (click)="setHeaders()">Set Headers</button>
    </div>
    <div class="btn-group m-2">
        <button class="btn btn-outline-dark" (click)="requestAPI()">Request API</button>
    </div>
</div>